body {
  font-family:Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  background-color: #e9eaed;
}

a {
  color: #3b5998;
  cursor: pointer;
  text-decoration: none;
}

.blueheader {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAABUCAMAAACfvxb8AAAAeFBMVEVOaaJMZ6FIZJ89W5lBXps8WplDYJxNaKFKZqBGYp5HY54/XJpCX5xFYZ07WZg+XJpLZqBAXZtJZZ9EYZ1NaKI8Wpg9WplMaKFNaaJJZJ9LZ6FEYJ1FYp1DX5xAXptJZaBAXZo+W5k+W5pKZaBGY55LZ6A8WZg/XZpJqQD4AAAAVklEQVR4Xk3CBQoDABADwU3d3d37/x8WAqEHI/jboZV1Y2sqDuiNZtaLJ7qihe1RoxjEC/XjhMaxtCPqxBmNolVc0Nxu6IuGMbUHuqNmsbF2rO2DJhg/RwEE6AR0V3kAAAAASUVORK5CYII=);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
  background-color: #3a5795;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 1px 42px;
  border-bottom: 1px solid #133783;
  border: 0;
  height:42px;
  left: 0;
  min-width: 981px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 300;
}
.blueheader::after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAICAYAAADTLS5CAAAAHElEQVQIW2OQNUx7AMIMckaZt0GYAQikoJh4AACS2waFtyG3bQAAAABJRU5ErkJggg==);
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 1px 4px;
  bottom: -4px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
}

.logo {
  float: left;
  margin-left: -8px;
  margin-top: 2px;
  padding-right: 1px;
  position: absolute;
  z-index: 5;
}

.logo a {
  background-image: url(KESPrBsu8bF.png);
  background-repeat: no-repeat;
  background-size: 312px 185px;
  background-position: -244px -62px;
  display: block;
  height: 28px;
  margin: 5px;
  outline: none;
  overflow: hidden;
  text-indent: -999px;
  white-space: nowrap;
  width: 28px;
  z-index: 2;
}
.container {
  margin: 0 auto;
  width:960px;
  margin-left: 133px;
  margin-right: 133px;
}

.main-container {
  padding-top: 48px;
  margin: 0 auto;
  width:960px;
  margin-left: 133px;
  margin-right: 133px;
}

.mind {
  width: 100%;
  min-height:63px;
  padding: 8px 7px 0 7px;
  font-size: 14px;
  line-height: 18px;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  margin: 0;
}

.profile {
  float: right;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  margin-top: 8px;
}
.small-me {
  border: 0;
  border-radius: 0;
  height: 19px;
  margin: 4px 0 0;
  width: 19px;
}

.gray-bar {
  margin-top: -3px;
  background-color: rgb(246, 247, 248);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-color: rgb(233, 234, 237);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(20, 24, 35);
  direction: ltr;
  display: block;
  font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 12px;
  height: 40px;
  line-height: 15px;
  text-align: left;
  width: 100%;
  word-wrap: break-word;
}
.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.post::before {
  content: '';
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}

.post {
  float: right;
  margin: 7px;
  -webkit-font-smoothing: antialiased;
  background-image: url('button.png');
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  background-position: 0 -335px;
  border-bottom-color: rgb(51, 76, 131);
  border-left-color: rgb(60, 84, 136);
  border-right-color: rgb(60, 84, 136);
  border-top-color: rgb(67, 90, 139);
  box-sizing: content-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
  padding: 0 16px;
}

.message {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  margin-top:	20px;
  padding: 15px;
}

.message-header {
  height: 50px;
}

.message-me {
  width: 40px;
}

.message-name {
  font-weight:bold;
}

.message-content {
  margin-bottom: 15px;
}

.message-links {
  font-size: 12px;
}
